<a href="https://colab.research.google.com/github/georgiastuart/python_data_science_for_teachers/blob/main/NOTES_Python_for_Data_Science_Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science: Lesson 1 Python Review

Welcome to Python for Data Science! In this training we will:
- learn to use Jupyter notebooks via Google colab
- learn about machine learning, neural networks, and tensorflow
- discuss some of the ethical pitfalls of machine learning

## Python Review

We can `print` to the output region using the `print()` function:

NOTE: When using special characters in strings, you need to *escape* them.

```python
mystring = 'It\'s going to be a sunny day today'
```

In [ ]:
print('Hello world! It\'s going to be sunny today!')

Hello world! It's going to be sunny today!

### Returns in Strings

To do a newline in a string, we use `\n`

In [ ]:
print('This is the first line\nThis is the second line.')

This is the first line
This is the second line.

### Variables

**Variables** in Python are declared and set with the assignment operator, `=`.

Python uses the **snake case** convention: `snake_case`. Variables are lower case and words are separated with the underscore character.

`thisIsAnExampleOfCamelCase`

`this_is_an_example_of_snake_case`

In a Jupyter notebook, we can output the value of a variable to the output region simply by typing the name.

In [ ]:
my_variable = 'Hello!'
my_variable

'Hello!'

Variables in Python are not locked to a single type. For example, this is valid python code:

In [ ]:
my_variable = 10
print(my_variable)
my_variable = 'dog'
print(my_variable)

10
dog

### User input

We can take user input with the `input()` function. If you need an `int` or a `float`, you must **cast** it with the `int()` or `float()` functions:

```python
my_string = input('What is your name?')
my_int = int(input('How old are you (in whole numbers)?'))
my_float = float(input('What is Pi to two decimal places?'))
```

### Conditionals

Python does not have a switch structure (yet), but it does have if - else if - else:

```python
if <condition>:
  <code block>
elif <another condition>:
  <code block>
else:
  <final code block>
```

You can use as many `elif`s as you need.

Here's an example:

In [ ]:
name = input('What is your name?')
print('Hello, ' + name)

What is your name?Georgia
Hello, Georgia

In [ ]:
grade = float(input('Enter your grade: '))

if grade >= 90:
  print('{:.2f}% is an A'.format(grade))
elif grade >= 80:
  print('You got a B')
elif grade >= 70:
  print('You got a C')
elif grade >= 60:
  print('You got a D')
else:
  print('You got an F')

Enter your grade: 95.555555555
95.56% is an A

### String formatting in Python

1. Turn the variable into a string with `str`
```python
str(grade) + '% is an A'
```
2. Use `.format` 
```python
'{0:.2f}% is an A. Good job, {}'.format(grade, name)
```
3. Use `f strings`
```python
f'{grade:.2f}% is an A. Good job, {name}'
```

In [ ]:
my_string = 'This is a sentence'
print(my_string[2:7])

is is

**Your turn!**

Write a small program that takes user input and then prints different things depending on that input.

In [ ]:
# Your code here

### Loops

Python has two types of loops: `for` loops and `while` loops.

#### Javascript Equivalency

```javascript
for (let i = 0; i < 10; i++) {
  console.log(i)
}
```

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
print('Think of a secret number between 1 and 100 (inclusive)!')

guess = 50
upper = 101
lower = 0
num_guesses = 1

user_response = ' '

while user_response.lower() != 'c':
  user_response = input('Is your number higher or lower than {}?\n Enter "H" for higher, "L" for lower, or "C" for correct: '.format(guess))

  if user_response.lower() == 'h':
    lower = guess
    guess = (upper + lower) // 2 
    num_guesses += 1
  elif user_response.lower() == 'l':
    upper = guess
    guess = (upper + lower) // 2
    num_guesses += 1
  elif user_response.lower() != 'c':
    print('{} is not a valid input.'.format(user_response))

print('I guessed your number, {}, in {} guesses!'.format(guess, num_guesses))

Think of a secret number between 1 and 100 (inclusive)!
Is your number higher or lower than 50?
 Enter "H" for higher, "L" for lower, or "C" for correct: f
f is not a valid input.
Is your number higher or lower than 50?
 Enter "H" for higher, "L" for lower, or "C" for correct: c
I guessed your number, 50, in 1 guesses!

**Your Turn!**

Create a for loop that counts from 1 to 100 by 3s, then create a while loop that does the same thing.

```python
range(end_number)
range(start, end)
range(start, end, step)
```

In [ ]:
for i in range(50, 70, 2):
  print(i)

50
52
54
56
58
60
62
64
66
68

# RESUME AT 10:50 am!

In [ ]:
# Your code here!

for i in range(1, 101, 3):
  print(i, end=' ')

print()
counter = 1
while counter < 101:
  print(counter, end=' ')
  counter += 3

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97 100
1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97 100

### Lists

We can have collections of data called **lists**.

Unlike *arrays*, lists in Python can contain different types of information.

In [ ]:
my_list = [1, 'cat', 3.14, True]

for item in my_list:
  print('{} is a {}'.format(item, type(item)))

1 is a <class 'int'>
cat is a <class 'str'>
3.14 is a <class 'float'>
True is a <class 'bool'>

In [ ]:
print(my_list[1])

cat

In [ ]:
my_nested_list = ['dog', [3, 4, 5], True]
my_nested_list[1][1]

4

In [ ]:
my_list = [1, 'cat', 3.14, True]
my_list.append('gadget')
print(my_list)

[1, 'cat', 3.14, True, 'gadget']

We can also find the *length* of a list using `len`:

In [ ]:
len(my_nested_list)

3

And if the list contains all comparable items, we can *sort* it:

In [ ]:
animals = ['whale', 'lemur', 'dog', 'fish', 'cat', 'Dog']
animals.sort(key = lambda var: var.lower())
animals

['cat', 'dog', 'Dog', 'fish', 'lemur', 'whale']

Javascript Equivalent:

```javascript
let animals = ['whale', 'lemur', 'dog', 'fish', 'cat', 'Dog']
animals.sort((first, second) => first.toLowerCase() <= second.toLowerCase())
```

**Your Turn!**

Create a list of your favorite books or movies, then (with a for loop) print out a sentence for each book or movie saying `<book item> is one of my favorite books!`

In [ ]:
my_dictionary = {'title': 'Probability', 'status': 'In Progress'}
print(my_dictionary['title'])

Probability

In [ ]:
book_list = [
             {'title': 'Probability', 'status': 'In Progress'},
             {'title': 'Docs for Developers', 'status': 'Completed'},
             {'title': 'Calligraphy', 'status': 'To Read'}
]

for book in book_list:
  print('{} is {}'.format(book['title'], book['status']))

Probability is In Progress
Docs for Developers is Completed
Calligraphy is To Read

In [ ]:
book_list.sort(key=lambda book: book['title'].lower())
print(book_list)

[{'title': 'Calligraphy', 'status': 'To Read'}, {'title': 'Docs for Developers', 'status': 'Completed'}, {'title': 'Probability', 'status': 'In Progress'}]

In [ ]:
# Your code here!

### Functions

Sometimes we want to
- organize code into reusable blocks
- name blocks of code

We can use **functions**!

In [ ]:
# The first line is the function signature
def print_number_sequence(end_number, inclusive=False):
  if inclusive:
    end_number += 1
  for i in range(end_number):
    print(i, end=' ')
  print()

Functions must be **called** in order to be used. Above we have defined a function, now lets use it!

In [ ]:
print_number_sequence(10)
print_number_sequence(10, inclusive=True)

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9 10

In this function, `end_number` is a **parameter** or **argument**. `inclusive` is a special type of argument called a **keyword argument**.

**Intermediate Problem**

Create a function that takes an integer as a positional argument and determines if it's even (divisible by 2). It should print 'Even' or 'Odd'

In [ ]:
def is_even(number):
  if number % 2 == 0:
    print('Even')
  else:
    print('Odd')

In [ ]:
is_even(10)
is_even(11)

Even
Odd

In [ ]:
def is_even(number):
  if number % 2 == 0:
    return True
  else:
    return False

In [ ]:
print(is_even(10))
print(is_even(11))

True
False

In [ ]:
num = 11
if is_even(num):
  print('Even!')
else:
  print('Odd!')

Odd!

**Your Turn!**

Create a *function* that takes an integer as a parameter and then determines if it's prime or not. This will bring together a lot of what we reviewed today. 

Other concepts you'll need:

modulo operator: `number % other_number` determines the remainder of `number` divided by `other_number`. If it's 0, `number` is divisible by `other_number`.

In [ ]:
# Your code here